  body{
    font-family: 'roboto',sans-serif;
  }
      .win {
        background: green;
      }

      .loss {
        background: brown;
      }

      li {
        list-style: none;
        font-size:22px;
        color:white;
      }

      a {
        text-decoration: none;
        color:white;
      }

      p {
        text-align: center;
        font-size: 18px
      }